/* Styles for Mobile Site */

body { 
    background-color: #E2DBD7;
    border: 2px solid #6C423F;
}

/* Header & Hero */
header {
    text-align: center;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 30pt;
    color: #6C423F;
    text-decoration: underline;
}
  
#hero {
    color: #6C423F;
    font-family: "Yanone Kaffeesatz", sans-serif;
    background-color: #8F8C6E;
    border: 2px solid #6C423F;
    padding: 3px;
    font-size: 15pt;
}    
      

/* Projects */
#projects img {
    align-content: center;
}


h2 {
    text-align: center;
    font-family: "Pacifico", cursive;
    color: #8F8C6E;
    font-size: 20pt;
    padding: 6px;
}

#projects h2 {
    border: 2px double #6C423F;
}

h3 {
    color: #F58450;
    text-align: center;
}

h4 {
    text-align: center;
    padding-bottom: 100px;
}

img {
    display: block;
    margin: auto;
}

header img {
    padding-bottom: 80px;
}

/* Reviews */
#reviews {
    border: 2px solid #6C423F;
    text-align: center;
    color: #6C423F;
    margin: 2rem;
}

#reviews h2 {
    text-decoration: underline;
}


/* Footer */
#footer {
    color: #6C423F;
    font-family: "Yanone Kaffeesatz", sans-serif;
    background-color: #8F8C6E;
    border: 2px solid #6C423F;
    text-align: center;
    font-size: 15pt;
}


/* Media state for Desktop site */
@media (min-width: 1000px) {

    /* Header & Hero */
    header {
        text-align: center;
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 30pt;
        color: #6C423F;
    }
      
    #hero {
        color: #6C423F;
        font-family: "Yanone Kaffeesatz", sans-serif;
        background-color: #8F8C6E;
        border: 2px solid #6C423F;
        padding: 3px;
        font-size: 15pt;
    }    

    header img {
        padding-bottom: 80px;
    }

    /* Projects */
    #projects img {
        margin: auto;
    }

    #projects img {
        max-width: 100%;
    }

    img {
        display: block;
        margin: auto;
    }

    #h2 {
        display:flex;
        justify-content: center;
        align-items: center;
        font-size: 4rem;
        margin-left: 1rem;
       }    

    /* Reviews */
    #reviews, #name, #title, #rating, #content {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 7fr 1fr;
        display: grid;
        margin: 2rem;
        padding: 6px;
        max-height: fit-content;
    }

    /* Footer */
    #footer {
        color: #6C423F;
        font-family: "Yanone Kaffeesatz", sans-serif;
        background-color: #8F8C6E;
        border: 2px solid #6C423F;
        text-align: center;
        font-size: 15pt;
    }
    
    }



